@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var customersAmount = Model.Count() > 0 ? "Yes" : null;
}

<h2>Customers</h2>

@if (customersAmount == null)
{
    <text>No customers at current time.</text>
}
else
{
    <table class="table table-bordered  table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Membership Type
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Convert.ToString(Html.DisplayFor(modelItem => item.Name)), "Edit", new { id = item.Id })
                </td>
                <td>
                    @item.MembershipType.Name
                </td>
            </tr>
        }

    </table>
}
